html, body {
    width:  100%;
    height: 100%;
    margin: 0;

    /* CODE POUR AUGMENTER LA TAILLE DE MAP A SA TAILLE MAXIMALE DE LA FENETRE*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
}
